// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin:0;
  padding:0;
  height:100%;
  #wrapper {
    min-height:100%;
    position:relative;
  }
  #header {
    margin: auto;
    border: solid 3px;
    width: 65%;

    h1 {
      font-size: 4em;
      text-align: center;
      font-weight: normal;
      font-family: 'Courier New', Courier, monospace;
    }

    nav {
      text-align: center;

      a {
        font-size: 2.25em;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        padding: 14rem 1rem;
        text-decoration: none;
      }
    }
  }

  #content {
    padding-bottom:100px;   /* Height of the footer element */
    p {
      font-size: 1.5em;
      text-align: center;
    }

    h1{
      text-align: center;
    }
  }
  #footer {
    padding: 1rem;
    text-align: center;
    font-size: 1.25em;
    margin: 0 auto;
    width: 100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;

    div a {
      font-size: 1.5em;
      color: black;
      padding: .5em;
      text-decoration: none;
    }

    p {
      font-size: 1em;
    }

    .btn {
      display: inline !important;
    }
  }
}